#menu
{
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background: #2b2c2e;
    color: rgb(241, 233, 233);
    height: 48px;
    line-height: 48px;
    font-size: 14px;
    text-align: center;
}