#menu
{
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    background: rgb(20, 19, 19);
    color: rgb(241, 233, 233);
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    text-align: center;
}