body
{
    background-image: url('../img/header.jpg');
    background-repeat: repeat;
    background-size: cover;
}

#portfolio
{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    margin-top: 64px;
    background: rgb(241, 239, 239);
    -webkit-box-shadow: 0px 0px 42px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 42px -11px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 42px -11px rgba(0,0,0,0.75);
}

#portfolio > .project
{
    width: 100%;
    min-height: 400px;
    box-sizing: border-box;
    padding: 50px;
}

#portfolio > .project > .title
{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 35px;
}

#portfolio > .project > .screenshoots
{
    margin-top: 50px;
    margin-bottom: 50px;
}

#portfolio > .more
{
    height: 128px;
    line-height: 128px;
    text-align: center;
    font-size: 18px;
}