body
{
    background: linear-gradient(to bottom right, #9eb5cf, #e7a5ce, #9ce48e);
}

#portfolio
{
    width: 85%;
    height: 100%;
    margin: 0 auto;
    margin-top: 64px;
    background: #f1efef;
    -webkit-box-shadow: 0px 0px 42px -11px #000000bf;
    -moz-box-shadow: 0px 0px 42px -11px #000000bf;
    box-shadow: 0px 0px 42px -11px #000000bf;
    box-sizing: border-box;
    padding: 15px;
}

#portfolio > #portfolio-content
{
    word-wrap: break-word;
}

#portfolio > #portfolio-content > .project
{
    width: 100%;
    min-height: 400px;
    margin-bottom: 32px;
}

#portfolio > #portfolio-content > .project > .title
{
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    margin-bottom: 35px;
    color: #2c2828;
}

#portfolio > #portfolio-content > .project > .screenshoots
{
    margin-top: 50px;
    margin-bottom: 50px;
}

#portfolio > #portfolio-content > .more
{
    text-align: center;
    font-size: 13pt;
    margin-top: 70px;
    margin-bottom: 50px;
}

@media screen and (max-width: 768px)
{
    #portfolio
    {
        width: 100%;
        font-size: 12pt;
        margin-top: 32px;

        /* Disable shadows, we don't see them anyways */
        -webkit-box-shadow: 0;
        -moz-box-shadow: 0;
        box-shadow: 0;
    }

    #portfolio > #portfolio-content > .more
    {
        line-height: default;
    }
}