#skills-content
{
    width: 97%;
    margin: 0 auto;
    margin-top: 57px;
    margin-bottom: 25px;
    background: #fcfcfc;
    border: 1px solid #e0d9d9;
    box-sizing: border-box;
    padding: 15px;
}

.graph
{
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    padding: 15px;
    margin-top: 15px;
}

.graph > .graph-entry
{
    margin-top: 5px;
}

.graph > .graph-entry > .element-name
{
    color: #6d1d1d;
}

.graph > .graph-entry > .bar
{
    background: #6999e2;
    width: 0;
    height: 24px;
    font-size: 12px;
    line-height: 24px;
    box-sizing: border-box;
    padding-right: 5px;
    text-align: right;
    margin-top: 5px;
}
